h1 {	
	background-image: url("./download.jpg"); 
	opacity: .95;
	font-size: 60px;
	color: darkblue;
	font-family: Cursive;
	text-shadow: 2px 3px 2px #999;
	
}
h5 {
	background-color: skyblue;
	opacity: 0.6;
}
h2 {
	background: linear-gradient(45deg ,lightblue 80%,white 93%,lightblue 94%, white 95%,lightblue 96%,white 98%);
	width: 500px;
	text-shadow: 1.5px 1.5px 0px grey;
	
	

}
* {
	box-sizing: border-box;
}
p a {
	border: 1px solid white;
	padding: 5px 5px;
	width: 200px;
	height: 40px;
	letter-spacing: 4px;
	margin: 2px 10px;	
	background-color: lightblue;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	font-size: 20px;
	
}
.links a {
	
	border: 1px solid darkgrey ;
	padding: 5px 5px;
	width: 200px;
	height: 40px;
	letter-spacing: 4px;
	margin: 2px 10px;	
	background-color: lightgrey;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	font-size: 15px;
	
}
.links a:hover {
	border: 1px solid black;
	color: darkblue;
	background-color: white
	
}
p a:hover {
	border: 1px solid darkgrey;
	color: darkblue;
	background-color: lightgrey;
	
}
body {
	background: linear-gradient(135deg,hsla(150,80%,50%, 0.5), hsla(250,80%,60%,0.6),hsla(150,80%,50%,0.5)) ;
	border:  4px inset red;
	margin: 25px;
	padding: 15px 15px;
}


